.signup-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    background: #fff;
}

.signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.signup-text {
    color: rgb(78,38,78);
    font-size: 48px;
    font-weight: 700;
}

.signup-underline {
    width: 61px;
    height: 6px;
    background: rgb(78,38,78);
    border-radius: 9px;
}


.signup-password-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.show-hide-icon {
    border: none;
    background: none;
    margin: auto 20px;
    color: #797979;
}

.auth-action-links {
    margin: 27px auto;
    color: #797979;
    font-size: 18px;
}

.auth-action-links span {
    color: rgb(78,38,78);
    cursor: pointer;
}

.signup-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 480px;
}

.input-container {
    display: flex;
    align-items: center;
    max-width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.signup-input-icon {
    margin: 0px 20px;
}

.signup-input {
    height: 50px;
    background: transparent;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.signup-submit-container {
    display: flex;
    gap: 30px;
    margin: 20px auto;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: rgb(78,38,78);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
