.blog-header {
    margin: 80px auto 30px auto;
    max-width: 800px;
    width: 90%;
    padding: 0 20px;
    display: flex;
    font-weight: lighter;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .blog-header h2 {
    margin: 0;
    font-weight: normal;
  }
  
  .blog-login-link {
    text-decoration: none;
    color: #000;
  }
  
  .blog-login-btn {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .blog-preview {
    margin: auto;
    max-width: 900px;
  }
  
  .blog-row {
    margin: 40px auto;
    border: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .blog-img {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: auto; 
    height: 350px; 
    overflow: hidden; 
  }
  
  .blog-img img {
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  
  .blog-info {
    margin: auto;
    max-width: 350px;
    min-width: 250px;
    text-align: left;
  }

  .bloglist-blog-header {
    margin-bottom: 20px;
  }
  
  .blog-author-date {
    text-align: left;
  }
  
  .blog-info h2 {
    margin-bottom: 10%;
  }
  
  .ind-blog-link {
    text-decoration: none;
    color: #000;
  }
  