.blog-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #000000;
    max-width: 900px;
    width: 90%;
    margin: 50px auto;
    padding-bottom: 5rem;
}

.blog-content {
    margin: auto;
    max-width: 700px;
    width: 90%;
    text-align: left;
    padding-top: 3rem;
}

.blog-content h1 {
    font-weight: normal;
}

.blog-image {
    margin: auto auto 10px auto;
    display: block;
    max-width: 100%;
}
.author-blog-btns {
    background: none;
    border: 1px solid black;
    padding: 0px 2px;
}

.individual-blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 40px;
}

.post-update-input {
    padding: 10px;
    border: solid 1px;
    display: block;
    width: 100%;
    margin: 10px auto;
}

.textarea {
    min-height: 150px;
}

.sharing-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    align-items: center;
    font-size: 20px;
    width: 80%;
    margin: 2rem auto 0;
    padding: 1rem 0;
    cursor: pointer;
}

.sharing-icons p {
    margin: 0;
}

.sharing-icons a {
    color: #000000;

}

.interactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 80%;
    margin: auto;
}

.views p {
    margin: 0.5rem;
}

.comments-section {
    max-width: 700px;
    width: 80%;
    margin: auto;
}

.comments-section h2 {
    font-size: 22px;
    font-weight: normal;
    text-align: left;
}

.comments-section ul {
    list-style: none;
    padding: 0;
}

.comments-section li {
    padding: 10px 0px;
    border-bottom: 1px solid #6b6a6a;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-content {
    text-align: left;
    font-size: 14px;
    padding: 5px;
}

.control-pagination {
    text-align: center;
}

.user-comment-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.comments-btn {
    padding: 0px 2px;
    border: 1px solid black;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

.comment-form input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0;
    text-indent: 10px;
    font-size: 16px;
    background-color: rgb(107, 106, 106, 10%);
    border: none;
    border-radius: 0;
}

.comment-form button {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    font-size: 16px;
    background-color: transparent;
    color: #000000;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}


