.error-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: #000000;
    z-index: 1000;
}
 
.error-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.error-message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .error-link-btn {
    width: 250px;
    height: 50px;
    margin: 10px auto;
    background-color: #fff;
    color: #000000;
    border-radius: 5px;
    border: 1px solid black;
  }

  .disable-scroll {
    overflow: hidden;
}

  